.AboutPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/image.png'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #151515; 
}



.AboutPage::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}