.LeaderboardPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/leaderboard_background_low_opacity.png'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0E0216;
  overflow-x: hidden;
}


.LeaderboardPage::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;

}

@media(max-width: 444px){
    .LeaderboardPage{
        overflow-x: hidden;
    }
}