.about-section {
  margin-left: 1rem;
}

.about-section p {
  color: #A8A2FF;
  line-height: 1.6;
  font-size: 0.95rem;
  margin-left: 3rem;
}

.credits-section {
  margin-top: 0.5rem;
  margin-left: 1rem;
}


.credits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 0.1rem;
  color: #A8A2FF;
  font-family: 'Neue-Montreal', sans-serif;
  font-size: 0.9rem;
  margin-left: 3rem;
}

.members-section {
  margin-left: 1rem;
}


.member-cards-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-left: 0.3rem;
  padding-bottom: 3.1rem;
  padding-top: 0.5rem;
  padding-right: 0.3rem;
  margin-left: 3rem;
  max-height: 160px; 
}

.member-card {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  border: 2px solid #A8A2FF;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #e0e0ff;
  transition: transform 0.2s ease;
}

.member-card:hover {
  transform: scale(1.05);
  border-color: #79FFB6;
}

.member-icon {
  width: 100%;
  height: 120px;
  background: linear-gradient(45deg, #222, #444);
  clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0 100%);
  margin-bottom: 0.5rem;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
}

.member-info p {
  margin: 0;
  color: #aaaaff;
  font-weight: bold;
  text-align: right;
}

.member-info span {
  font-size: 0.9rem;
  color: #aaaaff;
  text-align: right; 
}


.socials-section {
  margin-left: 1rem;
}


.socials-section ul {
  list-style: none;
  padding: 0;
}

.socials-section li {
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.socials-section a {
  color: #79FFB6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.socials-section a:hover {
  color: #95F6FF
}
