.about-section {
  margin-left: 2rem;
}

.about-section p {
  margin-right: 3rem;
  color: #a8a2ff;
  line-height: 1.6;
  font-size: 0.95rem;
  margin-left: 3rem;
}

.credits-section {
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.credits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 0.1rem;
  color: #a8a2ff;
  font-family: "Neue-Montreal", sans-serif;
  font-size: 0.9rem;
  margin-left: 3rem;
}

.members-section {
  margin-left: 2rem;
}

.member-cards-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-left: 0.3rem;
  padding-bottom: 3.75rem;
  padding-top: 0.5rem;
  padding-right: 0.3rem;
  margin-left: 3rem;
  max-height: 300px;
}

.member-card {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5), linear-gradient(45deg, #222, #444);
  transition: transform 0.2s ease;
}

.member-box {
  width: 118px;
  height: 118px;
  top: 1px;
  left: 1px;
  border-radius: 3px;
  clip-path: polygon(0% 0%, 64% 0%, 100% 36%, 100% 100%, 0% 100%);
  background-image: url("../assets/test.png");
  background-size: cover;
  background-position: center;
}

.member-box:hover {
  stroke: #79ffb6;
}

.member-card:hover {
  transform: scale(1.1);
  border-color: #79ffb6;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
}

.member-info p {
  margin: 0;
  color: #aaaaff;
  font-weight: bold;
  text-align: right;
}

.member-info span {
  font-size: 0.9rem;
  color: #aaaaff;
  text-align: right;
}

.socials-section {
  margin-left: 2rem;
}

.socials-section ul {
  list-style: none;
  padding: 0;
}

.socials-section li {
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.socials-section a {
  color: #79ffb6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.socials-section a:hover {
  color: #95f6ff;
}

.insta-icon,
.discord-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 0.5rem;
}
