.Footer {
  width: 100%;
  padding: 1rem 0rem;
  margin-left: 5px;
  overflow: hidden;
}

.footer-line-group {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
  gap: 0;
}

.footer-line {
  height: 19px;
  flex-grow: 1;
  display: block;
}

.footer-icon {
  width: 33px;
  height: 19px;
  display: block;
  flex-shrink: 1;
}
