.GameInfoComponent{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 40px 0;
    font-family: "Neue Montreal", sans-serif;
}

.Closing_Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Closing_Section_Main_Block_Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Closing_Section_Main_Block{
    width: 81px;
    height: 626px;
}

.Back-Btn{
    width: 39px;
    height: 38px;
    position: absolute;
    top: 10%;
    left: 50%;
}


.GameInfo_Closing_Section_Side_Block{
    width: 81px;
    height: 71px;
}

.Info_Section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Info_Section_Main{
    display: flex;
    flex-direction: column;
}


.Game_Banner_Wrapper {
  position: relative;
  border-radius: 16px;
  border: 2px solid #FF73A4;
  width: 868px;
  height: 574px;
  overflow: hidden;
}

.Game_Banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.Game_Banner_Tags_Container {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.Game_Name {
  color: #ECF5FF;
  font-family: Tektur;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.7px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.Rating_SubSection{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.star-container{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.rating-txt{
    color: #ECF5FF;
    font-family: "Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}

.Description_SubSection{
    color: #ECF5FF;
    font-family: "Neue Montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
}

.Like_SubSection{
    color: #ECF5FF;
    font-family: "Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}

.Like_Count{
    font-weight: 500;
}

.Play_Section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 574px;
}

.Play_Section_Header,
.Play_Section_Footer{
    display: flex;
    flex-direction: row;
}

.Play_Section_Header-Footer_Elements{
    width: 55px;
    height: 42px;
}

.Play_Section_Main{
    display: flex;
    flex-direction: column;
}

.Play_Section_Btn_Wrapper {
  position: relative;
  margin: 12px 0;
}

.Play-Area-Btn {
  width: 311px;
  height: 50px;
}

.Play_Section_Btn_Txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0E0216;
  font-family: "Neue Montreal";
  font-size: 18px;
  font-weight: 600;
}

.Play_Section_About{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 10fr;
}

.info-icon{
    color: #ECF5FF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: -0.264px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.Play_Section_About_Heading{
    color: #ECF5FF;
    font-family: "Neue Montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
}

.Play_Section_About_Body{
    color: #ECF5FF;
    font-family: "Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.176px;
}



