@font-face {
  font-family: "NeueMontreal-Bold";
  src: url("/fonts/NeueMontreal-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal-BoldItalic";
  src: url("/fonts/NeueMontreal-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal-Italic";
  src: url("/fonts/NeueMontreal-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal-Light";
  src: url("/fonts/NeueMontreal-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal-LightItalic";
  src: url("/fonts/NeueMontreal-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal-Medium";
  src: url("/fonts/NeueMontreal-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal-MediumItalic";
  src: url("/fonts/NeueMontreal-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal-Regular";
  src: url("/fonts/NeueMontreal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}